# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
.venv/
venv/
.env.*

# Flask
instance/
*.db

# Migrations cache
migrations/**/__pycache__/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Build / cache
.local/
.cache/